bokeh==0.13.0
certifi==2018.8.24
chardet==3.0.4
click==6.7
Flask==1.0.2
gunicorn==19.3.0
idna==2.7
itsdangerous==0.24
Jinja2==2.11.3
lightgbm==2.1.2
MarkupSafe==1.0
numpy==1.15.1
oauth==1.0.1
oauthlib==0.7.2
packaging==17.1
pandas==0.23.4
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
requests==2.19.1
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
tornado==5.1
urllib3==1.23
Werkzeug==0.14.1